.section--about-container{
  margin-top: 107px;
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 54px;
  align-items:center;
}

.section--about-dd{
  width: 100%;
  max-width: 699px;
  height: 190px;

  display: flex;
  flex-direction: column;
  gap: 35px;

  font-size: 14px;
  font-weight: 400;
}

@media (min-width: 680px) and (max-width: 815px){
  .section--about-dd{
    height: 250px;
  }
}


@media (max-width: 679px) {
  .section--about-container{
    margin-top: 64px;

    flex-direction: column;
    gap: 40px;
  }

  .section--about-dd{
    width: 85%;
    height: 309px;

    text-align: center;
    font-size: 12px;
  }
}